body {
    font-family: Arial, sans-serif; !important;
    text-align: center;
    margin-top: 50px;
}
#title {
    font-size: 24px;
    color: green;
    margin-bottom: 5px;
}
#title.error {
    color: red;
}
#container{
    display: none;
    position: relative;
    border: 1px solid #ccc;
    text-align: left;
    visibility: hidden;
    transition: box-shadow 0.3s ease;
    min-width: 466px;
}
#packageInfoHead{
    display: block;
    width: 100%;
    margin: 10px 0;
}
#packageInfoBody{
    display: block;
    width: 100%;
    margin: 10px 0;
}
#packageInfoVisual{
    display: block;
    width: 100%;
    height: 100px;
}
#packageNumberInputDIV{
    display: inline-block;
    visibility: visible;
    margin: 5px;
}
#packageNumberInput {
    padding: 3px 9px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

button {
    border-radius: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-right: 2px;
}
.roundVisual{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.no-padding{
    padding: 0; !important;
}
.col-xs-15 {
    width: 20%;
    float: left;
    padding: 0 5px;
    position: relative;
}
.line{
    box-sizing: border-box;
    background-color: #ccc;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    top: 25px;
}
.bg-isCompleted{
    background-color: #67a9ed;
}
